In [1]:
import pandas as pd
import numpy as np

In [14]:
pd.read_csv(u"C:\\Users\\perma\\Desktop\\text.txt",header=None)#从磁盘中读取文件

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [15]:
% more C:\\Users\\perma\\Desktop\\text.txt #魔术命令

In [19]:
#read_table和read_csv都可以用来读取txt文件，read_table需要自己指定分割符
pd.read_table(u"C:\\Users\\perma\\Desktop\\text.txt",sep=',')

                A            B         C
0    aaa   -0.23433    -1.234     -0.444
1  bbb   0.67878      0.434343   0.34343
2  ccc   -0.343434   -0.3434     0.43343

In [21]:
#read_csv和read_table 主要的区别在于read_table的分隔符可以用正则表达式指定
pd.read_table(u"C:\\Users\\perma\\Desktop\\text.txt",sep='\s+')

            A         B        C
aaa -0.234330 -1.234000 -0.44400
bbb  0.678780  0.434343  0.34343
ccc -0.343434 -0.343400  0.43343

In [25]:
#可以通过na_values指定缺失值,可以通过字典的形式为每一行指定缺失值
pd.read_csv(u"C:\\Users\\perma\\Desktop\\text1.txt",na_values={'something':['two'],'message':['foo']})

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [31]:
#read_csv函数可以分块读取大块数据如几个GB的数据。nrows参数用来指定每次读取的文件数据行数
#chunksize用来指定读取行数，但是返回的是一个迭代器，每次迭代的行数用chunksize来指定
#从而实现从大文件中分次读取数据