In [4]:
import pandas as pd
import numpy as np

In [5]:
#将每五分钟的股票交易数据变为每天的股票交易数据
#或者将每天的股票交易数据变为每五分钟的交易数据
#这就叫做重采样
s=pd.Series(np.random.randn(5),index=pd.date_range('2016-04-01',periods=5,freq='M'))
s

2016-04-30   -0.445110
2016-05-31   -1.176360
2016-06-30    0.676021
2016-07-31    1.188839
2016-08-31   -0.166087
Freq: M, dtype: float64

In [9]:
#将时间戳序列转化为时期序列
s1=s.to_period()
s1.index
#s.index

PeriodIndex(['2016-04', '2016-05', '2016-06', '2016-07', '2016-08'], dtype='period[M]', freq='M')

In [13]:
ts=pd.Series(np.random.rand(5),index=pd.date_range('2016-12-29',periods=5,freq='D'))
ts.to_period()#以天为freq

2016-12-29    0.726532
2016-12-30    0.978868
2016-12-31    0.377944
2017-01-01    0.217312
2017-01-02    0.945631
Freq: D, dtype: float64

In [15]:
pts=ts.to_period(freq="M")#以月为freq出现多个12月一月数据

In [18]:
pts.groupby(level=0).sum()#level设置以index为key来分组

2016-12    2.083344
2017-01    1.162943
Freq: M, dtype: float64

In [21]:
pts.to_timestamp().index#将时期索引转变为时间戳索引

DatetimeIndex(['2016-12-01', '2016-12-01', '2016-12-01', '2017-01-01',
               '2017-01-01'],
              dtype='datetime64[ns]', freq=None)

In [26]:
#每分钟的数据
ts=pd.Series(np.random.randint(0,50,60),index=pd.date_range('2016-04-25 09:30',periods=60,freq="Min"))

In [27]:
#重采样成每五分钟的数据
#重采样使用resample函数
#rule设置采样周期，how设置采样方法
#对于最后不够采样周期的数据将会被丢弃，比如有十分钟的数据，每六分钟采一次样，则只能采一次
#ts.resample(rule='5min',how='sum') 这种方式已经被丢弃
ts.resample(rule="5min").sum()

2016-04-25 09:30:00     84
2016-04-25 09:35:00     85
2016-04-25 09:40:00    108
2016-04-25 09:45:00    100
2016-04-25 09:50:00     43
2016-04-25 09:55:00     57
2016-04-25 10:00:00    156
2016-04-25 10:05:00    101
2016-04-25 10:10:00     98
2016-04-25 10:15:00    125
2016-04-25 10:20:00    108
2016-04-25 10:25:00     91
Freq: 5T, dtype: int32

In [30]:
#求ts每五分钟的最大和最小值
#我估计resample内部就是groupby
ts.resample(rule='5min').agg(['max','min'])

                     max  min
2016-04-25 09:30:00   33   10
2016-04-25 09:35:00   49    2
2016-04-25 09:40:00   44    4
2016-04-25 09:45:00   40    8
2016-04-25 09:50:00   13    0
2016-04-25 09:55:00   32    0
2016-04-25 10:00:00   43   14
2016-04-25 10:05:00   31    5
2016-04-25 10:10:00   32    0
2016-04-25 10:15:00   46    1
2016-04-25 10:20:00   30   15
2016-04-25 10:25:00   45    4

In [33]:
#可以获取月份
ts.index[0].month

4

In [35]:
#freq=‘W-FRI' 以周为频率，每周以周五为结束
df=pd.DataFrame(np.random.randint(1,50,2),index=pd.date_range('2016-04-22',periods=2,freq='W-FRI'))
df

             0
2016-04-22  28
2016-04-29   6

In [48]:
#按天重采样会出现空值,df1显示不出来
#所以用ffill前向填充
df1=df.resample('D').ffill()
df1

             0
2016-04-22  28
2016-04-23  28
2016-04-24  28
2016-04-25  28
2016-04-26  28
2016-04-27  28
2016-04-28  28
2016-04-29   6

In [52]:
#时期的重采样
df=pd.DataFrame(np.random.randint(2,30,(24,4)),index=pd.period_range('2015-01','2016-12',freq='M'),columns=list('ABCD'))
df

          A   B   C   D
2015-01  17  20   6  14
2015-02  16   3  26  27
2015-03   6  18  23   5
2015-04   6   5  29  15
2015-05  25  29  29  15
2015-06  23  13  14  10
2015-07  17   9  11  13
2015-08  16  23   6  19
2015-09  15  15  29   7
2015-10  26  19   6  10
2015-11   8  26  17  17
2015-12   7  19  14  27
2016-01  25   9   2  13
2016-02   5  13   3   3
2016-03  13  27   8  18
2016-04  24  26  25  27
2016-05  21  22  11  14
2016-06  29   9   2   7
2016-07   6  10  27  16
2016-08   8  11  23  16
2016-09  26  15   4  18
2016-10  12  22  14   6
2016-11  29  26  26  18
2016-12  23  28  17  17

In [58]:
#以年为采样周期,以12月份为年的结束
d=df.resample('A-DEC').sum()
d

        A    B    C    D
2015  182  199  210  179
2016  221  218  162  173

In [61]:
#以季度为采样周期，12月为年终
df.resample('Q-DEC').sum()

         A   B   C   D
2015Q1  39  41  55  46
2015Q2  54  47  72  40
2015Q3  48  47  46  39
2015Q4  41  64  37  54
2016Q1  43  49  13  34
2016Q2  74  57  38  48
2016Q3  40  36  54  50
2016Q4  64  76  57  41

In [62]:
#从文本读取的数据将时间转化出来可以使用parse_dates这个参数
#参见pd.read_csv